@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #808080;
    color: #ffffff;
    line-height: 1.6;
}

h1, h2 {
    color: #ffffff;
    align-items: center;
    align-self: center;
}

h3 {
    color: #000000;
    align-items: center;
    align-self: center;
}

p {
    font-size: 1em;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #808080;
    color: white;
    padding: 1em 0;
}


header h1 {
    margin-bottom: 0.5em;
    font-size: 2em;
}

header p {
    margin-top: 0;
    font-size: 1.2em;
}

.project {
    
    color: rgb(177, 203, 206);
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 80%;
}




.project a {
    background-color: #414345; 
    color: white;
    padding: 15px 55px;
    border-radius: 10px;
}

.project a:hover, .cv-link:hover {
    background-color: #504d4d; 
}


.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




section {
    margin: 1em 5%;
    padding: 1em;
    text-align: left; 
}



nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
    padding: 0;
    background-color: #333;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}



footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


nav ul li a:hover {
    background-color: #7f92a5; 
}

a, button {
    transition: all 0.3s ease;
}

#menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#nav-menu ul {
    list-style: none;
    padding: 0;
    display: none;
    position: absolute;
    top: 60px; 
    right: 10px;
    background-color: #373b3e;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

#nav-menu ul li a {
    color: white;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
}

#nav-menu ul li a:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #nav-menu ul {
        display: none;
        flex-direction: column;
    }

    header {
        position: relative; 
    }

    .description-container {
        flex-direction: column;
        text-align: center;
    }

    .description-image {
        margin-bottom: 20px;
    }

    .description-text {
        max-width: 100%;
    }
}

#self-description {
    background-color: #685a5a; 
    border-radius: 15px; /* Rounded corners */
    padding: 20px;
    margin: 20px auto; /* Adjust the margin as needed */
    max-width: 80%; /* Adjust the width as needed */
    align-items: center;
    justify-content: space-between;
}

.description-container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.description-image {
    width: 150px;
    height: 150px; 
    border-radius: 20%; 
    margin-right: 80px;
    margin-left: 60px;

}

.description-text {
    text-align: left;
    max-width: 80%; 
}



#experience {
    background-color: #394e4c; 
    border-radius: 15px; /* Rounded corners */
    padding: 20px;
    margin: 20px auto; /* Adjust the margin as needed */
    max-width: 80%; /* Adjust the width as needed */
    align-items: center;
    justify-content: space-between;
}

#techstack {
    background-color: #2d3134; 
    border-radius: 15px; /* Rounded corners */
    padding: 20px;
    margin: 20px auto; /* Adjust the margin as needed */
    max-width: 80%; /* Adjust the width as needed */
    align-items: center;
    justify-content: space-between;
}

.description-container {
    display: flex;
    align-items: center;
    justify-content: start;
}


.toolkit-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toolkit-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.toolkit-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: white;
    color: #333;
    border-radius: 8px;
    flex-grow: 1;
    margin: 0 10px;
    
}


.devops .devops-sections {
    display: flex;
    justify-content: space-between;
    
}

.stack-sections  {
    display: flex;
    justify-content: space-between;
}

.stack-sections > div {
    margin-right: 100px;
    margin-left: 100px;

}

.devops-sections > div {
    margin-right: 40px;
    
}

.devops-section, .stack-section {
    text-align: center; 
}

.devops-section ul, .stack-section ul {
    display: inline-block; 
    text-align: left; 
}


.full-stack {
    display: flex;
    justify-content: space-between;
    flex-grow: 2; 
}

.qa {
    flex-grow: 1;
}

@media (max-width: 768px) {
    .toolkit-row {
        flex-direction: column;
    }

    .full-stack, .qa {
        width: 100%;
    }

    .devops .devops-sections {
        flex-direction: column;
    }

    .full-stack .stack-sections {
        flex-direction: column;
    }
}



