body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

section {
    margin: 1em 5%;
    padding: 1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

#experience {
    background-color: #f8f8f8;
    padding: 1em;
}

.project {
    background-color: white;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.project h3 {
    color: #333;
    margin-top: 0;
}

.project p {
    font-size: 0.9em;
    line-height: 1.6;
    color: #666;
}

.project a {
    display: inline-block;
    margin-top: 0.5em;
    color: #007bff;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.project a:hover {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-color: #007bff;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-top: 1em;
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
    .project {
        padding: 0.5em;
    }

    .project h3 {
        font-size: 1.1em;
    }

    .project p {
        font-size: 0.8em;
    }
}
